{
    "branches": [
        {
            "name": "master",
            "channel": "latest"
        },
        {
            "name": "develop",
            "prerelease": true,
            "channel": "dev"
        }
    ]
}
