# Builds package and publishes it on npm.
# Triggered on pushes to develop, master and release branches
name: CD

on:
  workflow_dispatch:
  push:
    branches:
      - master
      - develop
      - release-*

env:
  HUSKY: 0

jobs:
  build:
    runs-on: ubuntu-24.04
    environment: upload

    permissions:
      id-token: write # Required for OIDC
      contents: write # Allows semantic-release to create tags
      issues: write # Allows semantic-release to comment on issues
      pull-requests: write # Allows semantic-release to comment on PRs
      packages: read

    steps:
      - name: Check out branch
        uses: actions/checkout@v6
        with:
          fetch-depth: 0 # Fetch all branches

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '20'

      - name: Install modules
        run: npm ci --no-audit

      - name: Build package
        run: npm run build-package

      - name: Run unit tests
        run: npm run test

      - name: Set up Semantic Release
        run: npm install --ignore-scripts semantic-release@25.0.2

      - name: Publish release
        run: semantic-release
        env:
          GH_TOKEN: ${{ github.token }}
