# Builds package and publishes it on npm.
# Triggered on pushes to develop, master and release branches
name: CD

on:
  workflow_dispatch:
  push:
    branches:
      - master
      - develop
      - release-*

env:
  HUSKY: 0

jobs:
  build:
    runs-on: ubuntu-latest
    environment: upload

    permissions:
        id-token: write
        contents: write
        issues: write
        packages: read
        pull-requests: write

    steps:
      - name: Import Secrets
        id: import-secrets
        uses: LanceMcCarthy/akeyless-action@v3
        with:
          access-id: ${{ secrets.GH_AKEYLESS_ACCESS_ID }}
          static-secrets: |
            {
              "${{ secrets.GH_AKEYLESS_GH_TOKEN_PATH }}": "GH_TOKEN",
              "${{ secrets.GH_AKEYLESS_NPM_TOKEN_PATH }}": "NPM_TOKEN"
            }
          export-secrets-to-environment: false

      - name: Check out branch
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Fetch all branches

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install modules
        run: npm ci --no-audit

      - name: Build package
        run: npm run build-package

      - name: Run unit tests
        run: npm run test

      - name: Publish release
        run: npx semantic-release
        env:
          NPM_TOKEN: ${{ steps.import-secrets.outputs.NPM_TOKEN }}
          GH_TOKEN: ${{ steps.import-secrets.outputs.GH_TOKEN }}
